* {
  font-family: Museo;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(/src/img/bg1.png) center center/cover no-repeat;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 90px;
}
.promo__header {
  color: #ffffff;
  font-size: 42px;
  font-weight: 700;
  margin: 0;
  line-height: 42px;
  text-transform: uppercase;
}
.promo__subheader {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 17px 0 0 0;
}
.promo__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 67px;
  min-width: 427px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
}
.promo__icons img {
  display: block;
  margin: 0 auto;
}
.promo_icon {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.promo__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  margin-top: 18px;
}
.promo__link a {
  text-transform: uppercase;
  color: #ffffff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.header__logo {
  width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  justify-self: flex-start;
}
.header__official {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.header__official span {
  font-size: 18px;
  line-height: 18px;
  display: block;
  font-weight: 500;
  margin-top: 7px;
}
.header__phone {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-align: right;
  text-decoration: none;
  display: block;
}
.header__contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  justify-self: flex-end;
}

.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #c70101;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  border: none;
  text-transform: uppercase;
  display: block;
  position: relative;
  margin-left: auto;
}
.button_main {
  width: 300px;
  height: 50px;
  margin-top: 67px;
  font-size: 16px;
  text-transform: uppercase;
}
.button_submit {
  width: 300px;
  height: 55px;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  display: block;
}

.advantages {
  min-height: 470px;
  background-color: #f6f6f6;
  padding: 70px 0 78px 0;
}
.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 65px;
}
.advantages__block {
  width: 240px;
}
.advantages__icon img {
  display: block;
  margin: 0 auto;
}
.advantages__text_main {
  font-size: 18px;
  font-weight: 700;
  margin: 38px 0 25px 0;
}
.advantages__text_descr {
  font-size: 14px;
  font-weight: 300;
}
.advantages__text_descr a {
  color: #ff0000;
}
.advantages .s-visible {
  display: none;
}

@media (max-width: 1200px) {
  .promo .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 850px) {
  .advantages__block {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .header__official {
    font-size: 11px;
  }
  .header__official span {
    font-size: 15px;
  }
  .header__phone {
    font-size: 15px;
  }
  .header__logo img {
    width: 180px;
  }
  .button {
    width: 135px;
  }
  .button_main {
    width: 220px;
    font-size: 14px;
  }
  .promo {
    min-height: 500px;
  }
  .promo .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .promo__header {
    font-size: 33px;
  }
  .promo__subheader {
    font-size: 18px;
  }
  .promo__icon {
    font-size: 12px;
  }
  .promo__icons {
    min-width: 370px;
  }
  .advantages__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .advantages__text_main {
    font-size: 20px;
  }
  .advantages__block {
    width: 159px;
  }
  .advantages .s-visible {
    display: block;
  }
  .advantages .s-hidden {
    display: none;
  }
}
@media (max-width: 575px) {
  .promo .header {
    min-width: 220px;
  }
  .promo .header__official {
    display: none;
  }
  .promo .header__logo img {
    width: 140px;
  }
  .promo .header__phone {
    font-size: 12px;
  }
  .promo__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 30px;
  }
  .promo__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    margin-top: 30px;
    min-width: 200px;
  }
  .promo_icon {
    margin-bottom: 25px;
  }
  .button {
    width: 110px;
    font-size: 10px;
    height: 23px;
  }
  .button_main {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-size: 16px;
  }
  .advantages {
    padding-top: 25px;
  }
  .advantages__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
  .advantages__text_main {
    margin: 15px 0;
  }
  .advantages__block {
    min-width: 240px;
  }
  .advantages__text_descr {
    margin-bottom: 35px;
  }
  .advantages .s-hidden {
    display: block;
  }
  .advantages .s-visible {
    display: none;
  }
}
.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url(/src/img/bg2.jpg) center center/cover no-repeat;
}
.consultation__descr {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-top: 80px;
  color: white;
}

.title {
  margin: 0;
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.title_left {
  color: #ffffff;
  font-size: 36px;
  text-align: left;
}

.feed-form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feed-form input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px 0 20px;
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 300;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}/*# sourceMappingURL=style.css.map */